@use "../variables" as *;
@use "../extend";

.dmp-priorities {
    $priorities: &;
    
    padding: 32px 0;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.1);
    
    @media (min-width: 576px) {
        padding: 64px 0;
    }
    
    &_vertical {
        @media (min-width: 576px) {
            padding: 48px 0;
        }
        
        #{$priorities}__row {
            justify-content: center;
        }
        
        #{$priorities}__col {
            flex: 0 0 100%;
            @media (min-width: 576px) {
                flex: 0 0 calc(50% - 16px);
            }
            @media (min-width: 1200px) {
                flex: 0 0 calc(20% - 26px);
            }
            @media (min-width: 1600px) {
                flex: 0 0 calc(20% - 52px);
            }
        }
        
        #{$priorities}__item {
            display: block;
            text-align: center;
            
            &-icon {
                height: 64px;
                width: 100%;
                margin: 0 auto 20px;
                
                svg {
                    width: auto;
                    max-height: 100%;
                }
            }
        }
    }
    
    &__row {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px 32px;
        @media (min-width: 576px) {
            gap: 32px;
        }
        @media (min-width: 1600px) {
            gap: 64px;
            padding: 0 34px;
        }
    }
    
    &__col {
        flex: 0 0 100%;
        @media (min-width: 576px) {
            flex: 0 0 calc(50% - 16px);
        }
        @media (min-width: 1200px) {
            flex: 0 0 calc(25% - 24px);
        }
        @media (min-width: 1600px) {
            flex: 0 0 calc(25% - 48px);
        }
    }
    
    &__item {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        @media (min-width: 768px) {
            gap: 20px;
        }
        
        &-icon {
            width: 60px;
            flex-shrink: 0;
            @media (min-width: 576px) {
                width: fit-content;
            }
            
            svg {
                max-width: 100%;
            }
        }
        
        &-text {
            h5 {
                margin: 0 0 4px;
            }
            
            p {
                @extend %text-regular;
                margin: 0;
            }
        }
    }
}
