@use "variables" as *;

*,
a,
button:not(.hp-btn) {
    &:focus {
        outline: 1px solid #000;
        outline-offset: 8px;
    }
    
    &:focus:not(:focus-visible) {
        outline: 0;
    }
    
    &:focus-visible {
        outline: 1px solid #000;
        outline-offset: 8px;
    }
}

.main-wrapper {
    
    &_bg {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
        }
        
        > * {
            position: relative;
            z-index: 3;
        }
    }
    
    > section:not(.dmp-hero):not(.dmp-content-block_grey-bg):not(.dmp-callback):not(.dmp-services-banner):not(.dmp-testimonials):not(.dmp-process.dmp-block_blue):not(.dmp-priorities):not(.dmp-secondary-hero):not(.dmp-bottom-form):not(.dmp-studies) {
        + section:not(.dmp-content-block_grey-bg):not(.dmp-callback):not(.dmp-services-banner):not(.dmp-testimonials):not(.dmp-process.dmp-block_blue):not(.dmp-priorities):not(.dmp-bottom-form):not(.dmp-studies) {
            padding-top: 0;
        }
    }
}
