// Variables
@import "variables";
@import "extend";

.editor-post-title {
    padding: 0 30px;
    margin-bottom: 0;
    margin-block-end: 40px !important;
    font-size: _rem(42);
}

// Utilities
@import "reboot";
@import "general";
