@use "../../scss/variables" as *;

.ga-page-hero {
    $hero: &;
    
    position: relative;
    
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 65%;
        z-index: 1;
        
        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;
        min-height: 490px;
        padding: 50px 0;
        z-index: 2;
        
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            transform: skew(-11deg);
            position: absolute;
            top: 0;
            left: -50px;
            z-index: -1;
            @media (min-width: 576px) {
                left: -105px;
                transform: skew(-22.7deg);
            }
            @media (min-width: 768px) {
                width: calc(70% + 130px);
                left: -205px;
            }
            @media (min-width: 1200px) {
                width: calc(60% + 130px);
            }
            @media (min-width: 1440px) {
                width: calc(50% + 130px);
            }
        }
    }
    
    &__text {
        width: 100%;
        max-width: calc(100% - 80px);
        @media (min-width: 576px) {
            max-width: 50%;
        }
        
        @media (min-width: 992px) {
            max-width: 435px;
        }
        
        .ga-breadcrumbs {
            margin-bottom: 25px;
            @media (min-width: 992px) {
                margin-bottom: 54px;
            }
        }
        
        h1 {
            margin: 0 0 20px;
            text-transform: uppercase;
            padding: 0;
        }
        
        h2 {
            text-transform: uppercase;
            padding: 0;
            margin: 0 0 15px;
        }
        
        p {
            margin: 0;
        }
    }
    
    &_min {
        #{$hero}__content {
            min-height: 272px;
            padding: 100px 0 84px;
            
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                height: 177px;
                width: 85px;
            }
        }
        
        #{$hero}__text {
            max-width: none;
            text-align: center;
            
            p {
            }
        }
    }
    
    &_green {
        #{$hero}__content {
            
            &:after {
            }
        }
    }
}

.ga-callback-block {
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    @media (min-width: 768px) {
        padding: 90px 0;
    }
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 33px;
        height: 100%;
        width: 100%;
        transform: skew(-13deg);
        @media (min-width: 576px) {
            right: 180px;
        }
        @media (min-width: 768px) {
            right: 230px;
        }
        @media (min-width: 1440px) {
            right: calc((100% - 1440px) / 2 + 280px);
        }
    }
    
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        @media (min-width: 576px) {
            flex-direction: row;
            align-items: center;
        }
    }
    
    &__content {
        flex-grow: 1;
        max-width: 790px;
        margin-left: 0;
        margin-bottom: 20px;
        
        @media (min-width: 576px) {
            margin-bottom: 0;
        }
        
        @media (min-width: 992px) {
            margin-left: 60px;
        }
        
        h2 {
            text-transform: uppercase;
            margin: 0 0 15px;
            text-align: center;
        }
        
        p {
            text-align: left;
            margin: 0;
            @media (min-width: 992px) {
                text-align: center;
            }
        }
    }
    
    &__link {
        @media (min-width: 576px) {
            flex-shrink: 0;
            padding-right: 10px;
            width: 200px;
            display: flex;
            justify-content: flex-end;
        }
        
        .ga-link {
            @media (max-width: 576px) {
                
                &:hover,
                &:focus {
                    text-decoration: none;
                    
                    svg {
                        transform: translateX(5px);
                        
                        path {
                        }
                    }
                }
                
                span {
                    svg {
                        path {
                        }
                    }
                }
            }
        }
    }
}


